<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Link Collector</title>
    <link rel="stylesheet" href="../static/css/skeleton.css"/>
    <link rel="stylesheet" href="../static/css/normalize.css"/>
    <style>
        .pagination {
          display: inline-block;
        }

        .pagination a {
          color: black;
          float: left;
          padding: 8px 16px;
          text-decoration: none;
        }
    </style>
    <script>
        function addParameterAndReturn(element, paramName, paramValue) {
            let newUrl = new URL(window.location.href)
            newUrl.searchParams.set(paramName, paramValue);
            element.setAttribute("href", newUrl);
        }

        function setFilterParameter(paramName, paramValue) {
            let newUrl = new URL(window.location.href)
            if(paramValue === false) {
                newUrl.searchParams.delete(paramName);
            } else {
                newUrl.searchParams.set(paramName, paramValue);
            }
            window.location.href = newUrl
        }

        function setStates() {
            let showUncategorizedCheckbox = document.getElementsByName("show_uncategorized")[0]
            showUncategorizedCheckbox.checked = document.location.href.includes("show_uncategorized")
        }
    </script>
</head>
<body onload="setStates()">
    <div class="container">
    <h2>URLs einordnen</h2>
        {% if not has_uploaded %}
        <div class="container">
            <form method="post" enctype="multipart/form-data" action="/upload">
              <input type="file" name="file">
              <input type="submit" value="Upload">
            </form>
        </div>
        {% else %}
        <div class="container">
            <form method="post" enctype="multipart/form-data" action="/delete">
              <input type="submit" value="Datei löschen">
            </form>
        </div>
        {% endif %}
        <div class="container">
            <h5>Filter</h5>
                <div class="row">
                    <label>
                        <input type="checkbox" name="show_uncategorized"
                           onchange="setFilterParameter('show_uncategorized', this.checked)"/>
                        Zeige unkategorisierte Elemente
                    </label>
                </div>
            <h5>Daten</h5>
            <form method="post">
                 <table class="u-full-width" id="category_table">
                    <tbody>
                    {% for url in url_collection %}
                        <tr>
                            <td>{{url[0]}}</td>
                            <input name="url" type="hidden" value="{{url[1]}}"/>
                            <td style="word-break: break-word">{{ url[1] }}</td>
                            <td>
                                <select name="categories" id="categories">
                                    {% if url[2] != "" %}
                                        <option selected value="{{url[2]}}">{{url[2]}}</option>
                                    {% else %}
                                        <option selected value="">Auswählen</option>
                                    {% endif %}
                                    {% for category in categories %}
                                        <option value='{{category}}'>{{category}}</option>
                                    {% endfor %}
                                </select>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <input type="submit" value="Speichern" name="save"/>
            </form>
            <div class="pagination">
                {% for num in range(pages) %}
                    <a href="#" onclick="addParameterAndReturn(this, 'page', '{{num + 1}}')">{{num + 1}}</a>
                {% endfor %}
            </div>
        </div>
    </div>
</body>
</html>